body{
    width: 95%;
    background-image: url(../images/fondo1.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#tab{
        align-content: center;
        padding: 1rem;
        border: 8px solid rgb(25, 40, 105);
        background-color: rgb(56, 207, 212);
        border-radius: 5px;
        margin: 1rem;
        font-size: 20px;
        color: rgb(26, 34, 80);
}